services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false

  DifferentTechnology\MfaSms\:
    resource: '../Classes/*'

  DifferentTechnology\MfaSms\Mfa\SmsProvider:
    tags:
      - name: mfa.provider
        identifier: 'sms'
        title: 'LLL:EXT:mfa_sms/Resources/Private/Language/locallang.xlf:mfa_sms.title'
        description: 'LLL:EXT:mfa_sms/Resources/Private/Language/locallang.xlf:mfa_sms.description'
        setupInstructions: 'LLL:EXT:mfa_sms/Resources/Private/Language/locallang.xlf:mfa_sms.setupInstructions'
        icon: 'tx-mfa-sms-icon'
        defaultProviderAllowed: true
        before: 'recovery-codes'
        after: 'totp'
